<div class="container" style="margin-top: 70px;">
  <div class="row" *ngIf="(allBudgets | async)?.length > 0">
    <table class="table table-hover col-12">
      <thead>
        <tr>
          <th>Name</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr [routerLink]="['/budgets', budget.id]" *ngFor="let budget of allBudgets | async">
          <td>{{budget.name}}</td>
          <td>{{budget.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" *ngIf="(allBudgets | async)?.length === 0">
    <ngb-alert class="col-12" [type]="'secondary'">
      You currently have no budgets. To create one, click <a [routerLink]="['/budget-create']">here</a>.
    </ngb-alert>
  </div>
</div>