<div class="card">
    <form (ngSubmit)="submit()">
        <h3 class="card-header">
            <input type="text" [(ngModel)]="budget.name" class="form-control" name="name">
            <span>
                {{ spent | currency }} /
                <input class="form-control" name="total" type="number" [(ngModel)]="budget.total">
            </span>
        </h3>
        <div class="card-body">
            <div class="row">
                <button class="btn btn-outline-secondary" type="button" (click)="editing.emit()">
                    Cancel
                </button>
                <button class="float-right btn btn-success" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>