<div class="mt-4">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card">
                <h5 class="card-header">Create a budget</h5>
                <div class="card-body">
                    <form (submit)="handleSubmit()" [formGroup]="budgetCreateForm">
                        <div class="form-group">
                            <label for="name">Budget Name</label>
                            <input id="name" formControlName="name" type="text" class="form-control" placeholder="Name" required>
                            <div *ngIf="budgetCreateForm.get('name')?.touched && budgetCreateForm.get('name')?.hasError('required')">
                                <p class="text-danger">You must enter a name.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="total">Limit (i.e., 50 or 10.75)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input id="total" formControlName="total" type="number" class="form-control" placeholder="1" required>
                            </div>
                            <div *ngIf="budgetCreateForm.get('total')?.touched && budgetCreateForm.get('total')?.hasError('min')">
                                <p class="text-danger">You must specify an amount greater than $0.</p>
                            </div>
                            <div *ngIf="budgetCreateForm.get('total')?.touched && budgetCreateForm.get('total')?.hasError('required')">
                                <p class="text-danger">You must specify an amount.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-success float-right">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>