<div *ngIf="!editMode" class="align-items-center row justify-content-between">
    <div class="col-auto">
        {{ expense.title }}
    </div>
    <span class="badge badge-pill badge-danger col-auto mr-auto">${{expense.cost}}</span>
    <div class="col-auto ml-auto">
        <button class="btn btn-secondary ml-2" type="button" (click)="editMode = true">
            Edit
        </button>
        <button class="btn btn-danger ml-2" type="button" (click)="handleExpenseDelete()">
            Delete
        </button>
    </div>
</div>
<div *ngIf="editMode">
    <form>
        <div class="form-row">
            <div class="col">
                <input name="title" class="form-control" [(ngModel)]="expense.title">
            </div>
            <div class="col">
                <input name="cost" class="form-control" [(ngModel)]="expense.cost">
            </div>
            <div class="col">
                <button class="btn btn-success" (click)="handleExpenseEdit()" type="submit">Submit</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-secondary" (click)="editMode = false">Cancel</button>
            </div>
        </div>
    </form>
</div>
