<div class="budget-container" *ngIf="budget">
    <div class="card">
        <h3 class="card-header">
            {{budget.name}} -
            <span [ngClass]="{'under-budget': underBudget, 'over-budget': !underBudget}">
                {{spent | currency}} / {{budget.total | currency}}
            </span>
            <button class="btn btn-danger float-right" (click)="delete()">Delete</button>

        </h3>
        <div class="card-body">
            <div>
            </div>
            <div>
                <h5>Expenses</h5>
                <ul class="list-group" *ngIf="expenses?.length > 0">
                    <li class="list-group-item justify-content-between align-items-center" *ngFor="let expense of expenses">
                        <app-expense-list-item [expense]="expense" (delete)="handleExpenseDelete($event)" (edited)="handleEditExpense($event)"></app-expense-list-item>
                    </li>
                </ul>
                <div *ngIf="expenses?.length === 0" class="row">
                    <ngb-alert [type]="'primary'" class="col-12">
                        You currently have no expenses under this budget.
                    </ngb-alert>
                </div>
                <div class="mt-3">
                    <button type="button" class="btn btn-primary" (click)="openModal()">
                        Add Expense
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>